
#text_box_1{
    position:fixed;top:3em;left:12em;font-size:1.5em; color:black
}
#login_box { 
    width:12em;
    position:fixed;top:8em;left:21em;
    box-shadow:black 0.1em 0.1em 0.1em;
    border-radius: 3px;
}

#txt_temp{
    position:fixed;top:1.35em;left:10em;font-size:1.2em; color:black
}
#element{
    position:fixed;top:5em;left:2em;
    font-size:0.8em; color:white;font-weight: bold;
    background-color:blue; padding:3px;width:10em;hight:4em;box-shadow:black 0.1em 0.1em 0.1em;border-radius: 5px; margin:0.3em 0;
}
#txt_waste_input{
    position:fixed;top:2em;left:3em;font-size:4em; color:blue
}
#txt_gas_volume{
    position:fixed;top:2em;left:7em;font-size:4em; color:green
}
