{{board_id,"davidsDator"},{address,"80.216.90.144",10100},{local_resources,[mymath]},{target_resources,[dbase]}}.
{{board_id,"Asus"},{address,"80.216.90.144",10110},{local_resources,[dets_db_service]},{target_resources,[math_service]}}.
{{board_id,"AsasHP"},{address,"80.216.90.144",10120},{local_resources,[]},{target_resources,[mymath,dbase]}}.